

.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

mat-card {
  display: flex;
  justify-content: space-between;
}

mat-form-field, mat-card {
  width: 90%; /* Setzen Sie die gewünschte Breite */
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 20%;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
  width: auto !important;
}

.mat-form-field {
  width: 100%;
}

.message {
  border: #aaa solid 1px;
  border-radius: 4px;
}
.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
}

.table-row.header {
  font-weight: bold;
}

.table-cell {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
}


.preview {
  max-width: 50px;
  vertical-align: middle;
}

.list-card {
  margin-top: 20px;
}

.list-item {
  margin-bottom: 20px;
}
