<mat-form-field>
  <mat-toolbar>
    <input
      matInput
      [value]="selectedFileNames.length ? selectedFileNames : 'Bild auswählen'"
    />
    <div *ngIf="previews.length; else noPreview">
      <img *ngFor="let preview of previews" [src]="preview" class="preview" />
    </div>
    <ng-template #noPreview>
      <img src="./../../../assets/img/sample.png" class="preview" />
    </ng-template>
  </mat-toolbar>
  <input
    type="file"
    id="fileInput"
    name="fileInput"
    accept="image/*"
    (change)="selectFiles($event)"
  />
</mat-form-field>
<mat-card>
  <mat-card-header>
    <mat-card-title>Resultat:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="predictions" class="message">
      <div class="table">
        <div class="table-row header">
          <div class="table-cell"><strong>Klasse</strong></div>
          <div class="table-cell"><strong>Wahrscheinlichkeit</strong></div>
        </div>
        <div class="table-row" *ngFor="let prediction of predictions">
          <div class="table-cell">{{ prediction.className }}</div>
          <div class="table-cell">{{ prediction.probability | percent }}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
