<mat-toolbar>
  <input
    matInput
    [value]="selectedFileNames.length ? selectedFileNames : 'Bild auswählen'"
  />
  @if(previews().length) { @for(preview of previews(); track preview) {
  <img [src]="preview" class="preview" />
  } } @else {
  <img src="./../../../assets/img/sample.png" class="preview" />
  }
</mat-toolbar>
<input
  type="file"
  id="fileInput"
  matInput
  accept="image/*"
  (change)="selectFiles($event)"
/>
<mat-card>
  <mat-card-header>
    <mat-card-title>Resultat:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if(predictions()) {
    <div class="message">
      <div class="table">
        <div class="table-row header">
          <div class="table-cell"><strong>Klasse</strong></div>
          <div class="table-cell"><strong>Wahrscheinlichkeit</strong></div>
        </div>
        @for(prediction of predictions(); track prediction) {
        <div class="table-row">
          <div class="table-cell">{{ prediction.className }}</div>
          <div class="table-cell">{{ prediction.probability | percent }}</div>
        </div>
        }
      </div>
    </div>
    }
  </mat-card-content>
</mat-card>
<div class="spacer"></div>
